main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  figure {
    background-color: aqua;
  }
  
  img {
      border: 10px solid aqua;
  }
  
  figcaption {
    text-align: center;
    font-size: xx-large;
    background-color: aqua;
    padding-bottom: .5em;
  }