* {
    margin: 0;
    box-sizing: border-box;
   
  }
  
  
  

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
  /* navigation */
  #navbar {
    display:-ms-inline-flexbox;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(55, 155, 221);
    text-decoration: underline;
  }
  
  .nav-list {
    display: flex;
    margin-right: 1rem;
    list-style-type: none;
  }
  
  .nav-list a {
    padding: 1.5rem;
    display: block;
    font-size: 2.2rem;
    padding: 1rem;
    color:rgb(88, 102, 119)
    
  }
  
  .nav-list a:hover {
    background-color: rgb(131, 224, 224);
  }

  /*body*/
  body {
    background-color: rgb(131, 224, 224);
    
  }

  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: orange;
    background-color: White;
    font-size: 5rem;
    padding:1%;
    margin: .5rem;
  }

  h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(68, 117, 250);
    background-color: White;
    font-size: 2rem;
    padding:1%;
    margin: .5rem;
  }

  .hero {
    
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    border-color: black;
    filter: drop-shadow(18px 18px 18px rgb(19, 3, 6)) ;
  }

  button {
    font-size: x-large;
    border-radius: 40px;
    color: rgb(30, 110, 230);
    background-color:rgb(160, 161, 163);
    text-decoration: rgb(226, 224, 238); 
    filter: drop-shadow(7px 7px 7px ivory) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      padding: 1rem;
      margin: 1rem;
     }

     button:hover {
      background-color: #97e4dc;
     }

  a.button {
    /*-webkit-appearance: button;
    -moz-appearance: button;*/
    appearance: button;
    

    text-decoration: none;
    color: initial;
    font-size: xx-large;
    padding: 5px;
    margin: 1rem;
    border-radius: 50px;
    color: white;
    background-color:orange;
    text-decoration: orange;
    filter: drop-shadow(7px 7px 7px ivory) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
}

  .pokeGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
    margin: .5rem;
  }
 
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    
    
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 39, 39);
    font-size: 1rem;
    border-radius: 40px;
    border-color: black 1px;
    
  }
  
  .front {
    background: #2a75bb;
    
  }
  
  .back {
    background: #e9910e;
    transform: rotateY(180deg);
    
  }
 
  
  .video {
    margin: 1.8rem 
  }
  
  
  figure img {
    width: 200px;
    filter: drop-shadow(18px 18px 18px rgb(19, 3, 6)) ;
   
  }

  figcaption::first-letter {
    text-transform: capitalize;
    font-size: 100%;
    line-height: 3em;
    
  }

  .myForm fieldset {
    border: 1px solid #43a0b6;
    border-radius: 3px;
    margin-bottom: 1rem;
    background-color: #bee9f3;
  }
  
  .myForm legend {
    color:white;
    font-size: 1.3rem;
    background-color: #f78686;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  
  .myForm label {
    margin: 1rem;
  }
  
  .myForm label, .myForm select, .myForm [type=text],.myForm [type=tel], .myFrom textarea{
    display: block;
    color: #0c0fa1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    
  }

  
  .myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea{
    border: solid 4px #e4c0b3;
    padding: .3rem;
    width: 250px;
    border-radius:.3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    font-size: large;
  }
  
  .myForm textarea {
    height: 6rem;
  }
  
  .myForm :required {
    background-color: rgba(156,51,53,0.1);
  }
  
  .myForm [type=submit] {
    background-color: #024873;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
    font-size:larger
  }
  
  table.our-activities {
    width: 100%;
    border-collapse: collapse; 
  }
  table.our-activities th {
     background-color: #43a0b6;
     color: rgb(182, 180, 180);
     padding: .8rem 2vw;
     text-align: left;
  }
  table.our-activities td {
     color: #024873;
     padding: .5rem 2vw;
  }
  table.our-activities tr:nth-child(odd) {
     background-color: #f78686;
  }
  
  table.our-activities tr:hover {
     background-color: #97e4dc;
  }
  
  /* Footer*/
footer {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgb(98, 199, 199);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(88, 102, 119);
}


