* {
    margin: 0;
    box-sizing: border-box;
  }
  /* navigation */
  #navbar {
    display:-ms-inline-flexbox;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(221, 55, 55);
    text-decoration: underline;
  }
  
  .nav-list {
    display: flex;
    margin-right: 1rem;
    list-style-type: none;
  }
  
  .nav-list a {
    padding: 1.5rem;
    display: block;
    font-size: 2.2rem;
    padding: 1rem;
    color:rgb(88, 102, 119)
  }
  
  .nav-list a:hover {
    background-color: rgb(218, 99, 119);
  }
  .pokeGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
    margin: .5rem;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    background: #2a75bb;
  }
  
  .back {
    background: #c7a008;
    transform: rotateY(180deg);
  }
  
  figure img {
    width: 200px;
  }