* {
    margin: 0;
    box-sizing: border-box;
  }
  
  header, footer {
    font-family: 'Fruktur', cursive;
    font-size: xx-large;
    text-align: center;
  }
  
  .nav {
    margin-left: 1em;
  }
  
  #main {
    display: flex;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .box {
    background-color: bisque;
    text-align: center;
    font-size: xx-large;
  }